.card {
  display: flex;
  justify-content: space-around;
} 

.time, 
.temp {
  font-size: 1.5em;
  margin: 15px 0;
  color: #1A1A1A;
}  

.time {
  margin-right: 1em;
}

.temp {
  position: relative;
  right: 1px;
}

.ten-day {
  display: flex;
  justify-content: flex-end;


}

.seven-icon {
  margin-right: 2em;
}

@media screen and (max-width: 1130px) {
  .time,
  .temp {
    font-size: 1.3em;
  }
}