.search-container {
  text-align: center;
}

.search-bar {
  width: 60%;
  -webkit-appearance: none;
  font-size: 1.5em;
  border: none;
  outline: none;
  padding-bottom: 3px; 
  margin: .5em 0;
  font-family: 'Courgette', cursive;
}

.search-button {
  font-size: 1.5em;
  color: #7c7d8b;
  padding: .5px 6px;
  border: solid #7c7d8b;
  outline: none;
  font-family: 'Courgette', cursive;
}