.seven-hour-container {
  background-color: #7c7d8be0;
  width: 33em;
  border-radius: 10px;
  margin: 5px;
  padding: 1em;
  height: fit-content;
}

.seven-title {
  text-align: center;
  color: #f0f0f3e3;
  font-size: 2.8em;
}

@media screen and (max-width: 1200px) {
  .seven-title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1060px) {
  .seven-hour-container {
    height: 33.7em;
  }
}