.tenDay-container {
  background-color: #7c7d8be0;
  width: 35em;
  border-radius: 10px;
  margin: 5px;
  height: 33.4em;
  padding: 1em;
  overflow: scroll;
}

.day {
  font-size: 1.5em;
  margin: 15px 0;
  color: #1A1A1A;
  margin-right: 1em;
}

.tenDay-title {
  text-align: center;
  font-size: 2.8em;
  color: #f0f0f3e3;
}

.low {
  font-size: 1.5em;
  color: #8AA2D0;
  margin: 15px;
  margin-left: 0;
  margin-right: 2em;
}

.high {
  font-size: 1.5em;
  color: #cf7f04d6;
  margin: 15px;
  margin-left: 2.5em;
}

@media screen and (max-width: 1200px) {
  .tenDay-title {
    font-size: 2.5em;
  }

  .low {
    margin-right: 0;
    margin-left: 1em;
  }
}

@media screen and (max-width: 1130px) {
  .high {
    margin-left: 2em;
  }

  .day {
    font-size: 1.3em;
  }

  .tenDay-container {
    height: 30.8em;
  }
}

@media screen and (max-width: 1060px) {
  .high {
    margin-left: 1em;
  }

  .tenDay-container {
    height: 33.7em;
  }
}